<!DOCTYPE html>
<html>
<head>
    @using System.Web.Optimization;
    @using communication.Core;

    @RenderSection("Scripts", false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Experimental x-Ray Identification learning System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-tokenfield/bootstrap-tokenfield.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-tokenfield/tokenfield-typeahead.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="Content/bootstrap.min.css" type="text/css" />
    <script type="text/javascript" src="scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap-3.3.2.min.js"></script>
    <link rel="stylesheet" href="Content/bootstrap-multiselect.css" type="text/css" />
    <script type="text/javascript" src="scripts/bootstrap-multiselect.js"></script> 
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

               
                @if (Request.Cookies["userId"] != null && ServerWiring.getInstance().isLoggedIn(Convert.ToInt32(Request.Cookies["userId"].Value)) != null)
                {
                    @Html.ActionLink("Main page", "Index", "Main", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Main page", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="container">
                @RenderBody()
        </div> 
    </div>
</body>
</html>