@if (((List<String>)ViewData["groupsInvitations"]).Count != 0)
{
<form id="myGroupsForm" method="POST" action="~/MyGroups/submit">
    <h2 class="cen col-md-offset-4">Groups invitations</h2>
    <div class="col-md-offset-4 col-md-6">
        <select id="groupInvites" name="groupInvites" class="form-control" multiple="multiple" style="margin-bottom:2px; width:auto" value="">
            @foreach (var gi in (List<String>)ViewData["groupsInvitations"])
            {
                <option value="@gi">@gi</option>
            }
            @ViewBag.group=this.value
        </select>
        <button type="submit" id="submit" class="btn btn-primary btn-block" style="width: 280px;">Accept invitations</button>
    </div>
</form>
}
