
@{
    ViewBag.Title = "Login";
}

<div class="cen col-md-offset-4">
    <h2>Login</h2>

    <form id="loginForm" method="POST" action="/Login/submit">
        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" value="@ViewBag.email" required title="Please enter your email" placeholder="Email">
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="password" value="" required title="Please enter your password">
            <span class="help-block"></span>
        </div>

        <div id="loginErrorMsg" class="alert alert-error ">@ViewBag.errorMessage</div>
        <div class="checkbox hide">
            <label>
                <input type="checkbox" name="remember" id="remember"> Remember Me
            </label>
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="width: 280px;">Login</button>
        <button type="button" class="btn btn-primary btn-block" style="width: 280px;" onclick="location.href='@Url.Action("Index", "Register")'">Register</button>
        <button type="button" class="btn btn-primary btn-block" style="width: 280px;" onclick="location.href='@Url.Action("Index", "Forgot")'">Forgot Password</button>
    </form>
</div>