@{
    ViewBag.Title = "Add To Exist Group";
}

<div class="cen col-md-offset-4">
    <form id="createGroupForm" method="POST" action="/AddToExistGroup/submit">
        <div class="form-group">
            <br />
            <h2>Add to an existing group</h2>
            <br />
            @if (@ViewBag.message != null)
            {
                <script>
                    alert("@ViewBag.message");
                </script>
            }
            
            <label for="inviteEmails" class="control-label">Emails of invitees</label>
            <textarea rows="5" type="text" size="60" class="form-control" name="inviteEmails" id="inviteEmails" value="@ViewBag.inviteEmails" required title="Please enter invitees Emails" placeholder="Please separate email accounts with commas"></textarea>
            <br />

            <label for="emailContent" class="control-label">Email Content</label>
            <textarea rows="3" type="text" class="form-control" name="emailContent" id="emailContent" value="@ViewBag.emailContent" required title="Please enter email content " placeholder="Email content"></textarea>
            <br />

            <button type="submit" id="submit" class="btn btn-primary btn-block" style="width: 280px;">Send</button>
        </div>
    </form>
</div>